#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helventica;

}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: whitesmoke;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.25;

}
.buttons:hover{
    background-color: blue;
}